html {
    box-sizing: border-box;
    font-size: 60.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.img-fondo {
    background-image: url(/img/fondo.jpg);
}

img {
    width: 100%;
}

.velo-negro {
    background-color: rgba(0, 0, 0, 0.7);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
}

.logo-img {
    max-width: 25rem;
    margin: 3rem 0;
    border-radius: 50%;
}

.logo-img:hover{
    box-shadow: 0px 0px 10px 1px white;
    transform: scale(1.1);
    transition: all ease-in-out 0.8s;
}

.menú_desple {
    display: flex;
    list-style: none;
    justify-content: center;
}

li ul {
    display: none;
}

.menú_desple li a {
    padding: 2rem 7rem;
    display: block;
    background-color: rgba(199, 82, 150, 0.768);
    margin-bottom: 2rem;
}

.desplegar:hover .sub_me_desple {
    display: block;
}

.sub_me_desple {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

nav li ul {
    position: absolute;
    padding: 0;
}

li ul li {
    background-color: rgba(199, 82, 150, 0.768);
}

li ul li:hover {
    color: black;
}


nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px white;
    transform: scale(1.1);
    transition: all ease-in-out 0.8s;
}

.activa {
    color: black;
}

.Nuestros-productos {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;

}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.producto {
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(199, 82, 150, 0.768);
}

.producto-blanco {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    height: 25rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-informacion button {
    margin: 0 auto;
    display: block;
    background-color: rgb(250, 198, 230);
    width: 110px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.producto-informacion button:hover {
    background-color: rgb(77, 7, 56);
    box-shadow: 0px 0px 10px 1px white;
    transform: scale(1.1);
    transition: all ease-in-out 0.8s;
    color: white;
}

.producto-precio,
.producto-nombre {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;

}

.producto-precio {
    font-size: 2rem;
    font-weight: 500;
}

.producto-nombre {
    font-size: 2.5rem;
    font-weight: 800;
}

@media (min-width:320px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .producto-nombre {
        font-size: 1.6rem;
        font-weight: 800;
    }

    .producto-precio {
        font-size: 1.3rem;
        font-weight: 500;
    }
}


@media (min-width:768px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .producto-nombre {
        font-size: 2rem;
        font-weight: 800;
    }

    .producto-precio {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

@media (min-width:1280px) {
    .productos {
        grid-template-columns: repeat(4, 1fr);
    }

}

.formulario {
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 1rem;
}

.boton:hover{
    background-color: rgb(77, 7, 56);
    box-shadow: 0px 0px 10px 1px white;
    transform: scale(1.1);
    transition: all ease-in-out 0.8s;
    color: white;
}

.campo {
    margin: 2rem;
}

.campo label {
    display: block;
}

input,
textarea {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

input::placeholder,
textarea::placeholder {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.616);
}

legend {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 0rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: rgba(199, 82, 150, 0.768);
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3rem;
    gap: 10rem;
    margin-bottom: 20rem;

}

.nosotros-texto {
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-img {
    background-color: white;
    border-radius: 100%;
    max-width: 50rem;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;

}

.bloques img {
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
    border-radius: 50%;
}

.bloques-titulo {
    margin: 0;

}

.bloque {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;

}

.bloque-titulo {
    color: red;
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.enlace-footer:hover {
    padding-left: 1rem;
    padding-right: 1rem;
}